.gitcalendar{
    width:150%;    
}
.gitname{
    margin-left: 40%;
    color: #F26B8A;
    margin-bottom: 20px;
}

.stats h1{
    margin-left: 40%;
    color:#F26B8A;
     margin-bottom:6%;
}
.stats{
    border: 0px solid green;
    margin-top: 70px;
}
.statimg{
    border: 0px solid rgb(64, 0, 255);
    /* box-shadow: rgb(118, 88, 100) 0px 20px 30px -10px; */
}
.bounce2 {
    animation: bounce2 2s ease infinite;
    color: #fff;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
 @media screen and (max-width:760px){
    .bounce2{
       margin-left: -50px; 
       border: 0px solid red;
    } 
    .cal{
        border: 1px solid red;
        margin: auto;
        padding: 2px;
    }
    .stats h1{
        font-size: medium;
    }
    .git h1{
        font-size: medium;
    }
    .gitname{
        font-size: large;
        margin-top: -50px;
    }
    .gitcalendar{
        width: 180%;
        margin-left: -20px;
     
    }
} 
 /* @media screen and (max-width:1080px){
    .cal{
        padding: 1;
        border: 1px solid red;
        width: 90%;
        margin-left: -30px;
    }
}  */