.skillrouter{
  border:0px solid red;
  height:150px 160px 200px;
  width: 98%;
  overflow: hidden;
  box-shadow: rgb(234, 140, 178) 0px 20px 30px -10px;
}
.skillrouter:hover{
  transform: scale(1.3);
  box-shadow: rgba(189, 209, 233, 0.4) 0px 0px 0px 2px, rgba(216, 131, 188, 0.65) 0px 4px 6px -1px, rgba(232, 215, 215, 0.08) 0px 1px 0px inset;
}
.skillinner{
  padding:10px 10px 20px;
  transform: scale(1.3);
}
.skills{
  margin-top: 10%;
}
.skill{
  margin-left: 47%;
  color: #F26B8A;
}
.bar{
  border-bottom: 1px solid #eee;
  width: 10%;
  margin: 1.5rem auto;
  display: block;
  margin-bottom: 7%;
  
}
.main{
  display:grid ;
  gap:50px  ;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  
}

@media screen and (max-width:1050px){
.main{
  grid-template-columns: repeat(2,1fr);
}
}